<!-- Long list of tech topics to scroll along footer when a user is not signed in -->
<div class="ascii">
    <div class="footer ascii__art">
        <span class="is-size-6 mae-semi">"`-._,-'"`-._,-'"`-._,-'"`-._,-'</span><img src="/images/black-on-transp.png" alt="TECH TALK LOGO" style="height: 40px; vertical-align: bottom;"/> <span class="is-size-6 mae-semi">"`-._,-'"`-._,-'"`-._,-'"`-._,-'</span>
    </div>
</div>