<!-- Long list of tech topics to scroll along footer when a user is not signed in -->
<div class="ascii">
    <div class="footer ascii__art">
        <span class="is-size-6">"`-._,-'"`-._,-'"`-._,-'"`-._,-'</span><img src="../../public/images/black-on-transp.png" alt="TECH TALK LOGO" /><span class="is-size-6 .mae-light has-text-right is-italic">'-._,-'"`-._,-'"`-._,-'"`-._,-'</span>
    </div>
</div>