{{#each posts}}
  <div class="post has-text-light mae-med ">
      <!--Once the posts display I can add the conditional links back in based on logged_in -->
      <h3 class="is-size-5 is-underlined">{{this.title}}</h3>
      <p class="is-size-6 mb-2">Author: <span class="mae-semi">{{this.user.username}}&emsp;</span>Posted: <span class="mae-semi">{{format_date this.date_created}}</span></p>
  </div>
{{/each}}