<p>This is the post list partial</p>
<div id="show-all-posts">
 {{!--  
<ul>
  {{#each posts as |post| }}
    <li>
      {{#if logged_in}}
        <a href="/api/post/getPostById/:id" class="post-link">
      {{else}}
        <a href="/signUpIn" class="post-link">
      {{/if}}
          <h3 class="is-size-3">{{post.title}}</h3>
          <p>Author: {{post.user.username}} - Posted: {{post.date_created}}</p>
        </a>
    </li>
  {{/each}}
</ul> --}}
</div>