<p>This is the post list partial</p>
<script id="post-template" type="text/x-handlebars-template">
<ul>
  {{#each posts as |post| }}
    <li>
      <!--Once the posts display I can add the conditional links back in based on logged_in -->
        <a href="http://google.com" class="post-link">
        <!--<a href="/api/post/getPostById/{{post.id}}" class="post-link"></a> -->
          <h3 class="is-size-3">{{post.title}}</h3>
          <p>Author: {{post.user.username}} - Posted: {{post.date_created}}</p>
        </a>
    </li>
  {{/each}}
</ul>
</script>

<div id="show-all-posts">
</div>