<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Talk</title>

 <link rel="stylesheet" href="node_modules/bulma/css/bulma.min.css">
<link rel="stylesheet" href="/css/my-bulma-project.css">
  <link rel="stylesheet" href="https://use.typekit.net/ssi2tav.css">
</head>

<body class="has-background-info-light">
  <!-- Navbar -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <!-- Navbar brand -->
    <div class="navbar-brand has-background-link">
      <a class="navbar-item" href="/">
      <img src="./images/white-on-transp.png" />
      </a>
      <a role="button" class="navbar-burger has-text-white" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div> <!--closes navbar-brand-->
    <!-- Navbar menu -->
    <div id="navbarLinks" class="navbar-menu has-background-dark has-text-weight-weight-medium">
      <div class="navbar-start">
        <a href="/" id="homeLink" class="button is-hoverable is-dark has-text-weight-bold" class="navbar-item ml-5">
          <span class="icon"><i class="fa-solid fa-house"></i></span><span class="icon-text">Home</span>
        </a>
     </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {{#if logged_in}}
          <a href="/dashboard" class="button is-hoverable is-dark has-text-weight-bold">
          <span class="icon"><i class="fa-regular fa-keyboard"></i></span><span class="icon-text">Dashboard</span>
         </a>|
        <hr class="navbar-divider">
          <a href="#" id="logout"  class="button is-hoverable is-dark has-text-weight-bold">
            <span class="icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></span><span class="icon-text">Log out</span>
          </a>|
          {{else}}
          <!-- Figure out how to handle cookies -->
            <a href="/dashboard" class="button is-hoverable is-dark has-text-weight-bold"><span class="icon"><i class="fa-regular fa-keyboard"></i></span><span class="icon-text">Dashboard</span>
            </a> 
          <hr class="navbar-divider">
            <a href="/signUpIn" class="button is-hoverable is-dark has-text-weight-bold"><span class="icon"><i class="fa-regular fa-user"></i></i></span><span class="icon-text">Sign in | Sign Up</span>
            </a> 
          {{/if}}
        </div>
      </div>
    </div>
</nav>
  
    <main class="container is-fluid">
      <!-- Views: /home, /signUpIn, /signInOnly, /post, /dashboard, /newPost -->
      {{{ body }}}
    </main>

    <footer>
      {{#if logged_in}}
        {{> footerStatic-p}}
      {{else}}
        {{> footerScroll-p}}
      {{/if}}
    </footer>

<!--Scripts-->
<script type="module" src="/js/config.js"></script>
<script type="module" src="/js/logout.js"></script>
{{!-- <script type="module" src="/js/postDisplay.js"></script> --}}
<script src="https://kit.fontawesome.com/76aa510a07.js" crossorigin="anonymous"></script>

</body>

</html>
