<!-- Dashboard view -->
<h1 class="is-size-2 py-3">Welcome to your Dashboard, {{ userData.username }} </h1>
<section class="columns">
     <div id="my-posts" class="column is-three-quarters px-5 py-6">
          <card>
            <card-header>
              <p class="card-header-title is-size-4">My posts</p>
            </card-header>
            <card-content>
              <p>The post list should display here</p>
             {{> myPostList-p }}
            </card-content>
            </card>
        </div>
        <div class="column is-one-quarter px-5 py-6">
          <h1 class="is-size-2 has-text-centered mb-4">Embark on a journey of digital discovery.</h1>
          <h2 class="is-size-4 has-text-centered">Join our community, where minds converge, ideas flourish, and knowledge transforms. Together, let's shape the future of technology.</h2>
        </div>       
      </section>