<section class="columns">
        <div class="column is-one-quarter px-5 py-6">
          {{#if logged_in}}
           <h1 class="is-size-3 has-text-centered mb-4">Cyberspace thrives not solely on codes and circuits, but on the collective intellect, empathy, and generosity of its inhabitants.</h1>
          <h2 class="is-size-5 has-text-centered">In the realm of technology, our greatest innovations are not mere products of solitary genius, but the harmonious symphony of minds collaborating, sharing, and uplifting each other's ideas. For in this interconnected web of knowledge, it is not the solitary beacon that illuminates the path forward, but the constellation of minds, united in purpose, guiding humanity toward its digital destiny.</h2>
          {{else}}
          <h1 class="is-size-2 has-text-centered mb-4">Embark on a journey of digital discovery.</h1>
          <h2 class="is-size-4 has-text-centered">Join our community, where minds converge, ideas flourish, and knowledge transforms. Together, let's shape the future of technology.</h2>
          {{/if}}
        </div>
        <div id="viewfinder" class="column is-three-quarters px-5 py-6">
          <card>
            <card-header>
              <p class="card-header-title is-size-4">Read what our community has to say!</p>
            </card-header>
            <card-content>
              <div id="home-posts" class="has-background-info p-3">
              <!-- The post list should display here -->
             {{> postList-p }}
             </div>
            </card-content>
            </card>
        </div>
      </section>

      <script type="module" src="/js/postDisplay.js"></script>