<div class="columns my-5">

  <!-- Sign in form -->

  <div class="column is-one-quarter has-background-dark p-5 mr-5">
     <h2 class="is-size-3 mae-bold has-text-info-light">Sign In</h2>
      <form class="form login-form">
        <div class="form-group">
          <label for="email-login">Email</label><br>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login">Password</label><br>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="button is-primary" type="submit">Sign In</button>
        </div>
      </form>
  </div>

  
  <!-- Sign up form -->

  <div id="signupdiv" class="column is-three-quarters p-5 mr-5">

    <h2 class="is-size-3 mae-bold has-text-info-light">Sign up</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Name</label><br>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email</label><br>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password</label><br>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="button is-success" type="submit">Sign up</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
