@import 'bulma';

// Customize Bulma Color Variables

$sky-blue: #A0CCF2;
$link: $sky-blue;

$dark-chocolate: #2D2F2C;
$dark: $dark-chocolate;

$dark-teal: #1A3940;
$primary: $dark-teal;

$velvet-green: #4D6F73;
$success: $velvet-green;

$milk-chocolate: #594A3C;
$info: $milk-chocolate;

#A0CCF2
#1A3940
#4D6F73
#594A3C
#2D2F2C