<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Talk</title>

 <link rel="stylesheet" href="node_modules/bulma/css/bulma.min.css">
<link rel="stylesheet" href="/css/my-bulma-project.css">
  <link rel="stylesheet" href="https://use.typekit.net/ssi2tav.css">
</head>

<body>
  <div>
    <button class="button is-link">Link</button>
<button class="button is-info">Info</button>
<button class="button is-dark">Dark</button>
<button class="button is-primaryk">Primary</button>
<button class="button is-success">Success</button>
<button class="button is-ghost">Ghost</button>
  </div>
</body>
</html>